/* General Styles */


body {
  font-family: 'Quicksand', sans-serif;
  /* color: #fafad2; */
  /* color: #3c3c07; */
  /* background-color: #fffcf6; */
  background-color: transparent;
  color: #2F395F;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 100%;
  /* min-height: 100vh; */
  /* display: grid; */
  /* grid-template-rows: auto auto 1fr auto; */
}

h1 {
  /* font-family: 'Licorice', cursive; */
  font-family: 'Quicksand', cursive;
  font-weight:lighter;
  font-size: 600%;
  text-align: center;
  margin: 0;
  letter-spacing: 2px;
}

h2 {
  /* font-family: 'Marck script', cursive; */
  letter-spacing: 2px;
  font-size: 290%;
  font-weight:100;
  letter-spacing: 1px;
  padding-bottom: 5px;
  /* font-weight:bold; */
}

h3 {
  font-size: 150%;
  padding-bottom: 10px;
  font-weight: lighter;
}

h4 {
  font-size: 120%;
  font-weight: normal;
  font-style: italic;
}

header {
  /* background-color: #3c3c07; */
  /* padding: 10px 0; */
  /* background-color: #D7E8F5;  */
  /* background-color: #b3cb9f; */
  padding: 0;
  margin: 0;
  padding-bottom: 0;
}


header ul li {
  padding: 0;
}


nav {
  margin: 0;
  padding: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: right;
  background-color: #5262A4;
}

nav ul li {
  padding-right: 10px;
}

nav ul li a {
  color: #fff6de;
  text-decoration: none;
}

nav ul li a:hover {
  color: goldenrod;
}

/* Currently not used */
.title-area {
  color: #fff6de;
}

.hero {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-flow: row nowrap; */
  font-size: 120%;
  align-items: left;
  text-align: left;
  padding: 10px;
  padding-top: 10px;
  color: #2F395F;
  /* background-color: #fff6de; */
  background-color: #ACC9E0;
  /* background-color: #b3cb9f; */
  /* justify-content: space-evenly; */
  /* margin: 0; */
}

/* .hero ul { */
  /* list-style-type: disc; */
  /* margin-left: 40px; */
  /* padding: 0; */
  /* padding-left doesn't seem to do anything */
  /* padding-left: 50px; */
/* } */
/* 
.hero ul li {
  text-align: left;
  font-size: 300%;
  text-align: left;
  letter-spacing: 1px;
} */

.hero h2 {
  font-size: 300%;
  /* padding-left: 10px; */
  margin-left: 0px;
  padding-left: 40px;
  text-align: left;
}

.hero img {
  min-width: 100%;
  height: auto;
} 
/* .hero img { */
  /* max-width: 80%; */
  /* height: auto; */
  /* margin-top: 20px; */
  /* border-radius: 4%; */
/* } */

.get-started {
  background-color: #ACC9E0;
  /* background-color: #b3cb9f; */
  text-align: center;
  padding-top: 0;
  padding-bottom: 20px;
}

.get-started button {
  background-color: #EBEFF1;
  /* background-color: #b3cb9f; */
  /* color: #fff; */
  color: #2F395F;
  font-size: larger;
  /* font-weight: bold; */
  border-color: black;
  padding: 10px 20px;
  cursor: pointer;
}

.get-started button:hover {
  /* background-color: #0056b3; */
  /* background-color: transparent; */
  background-color: #5262A4;
  color: #EBEFF1;
}

.page-content {
  margin: 0;
  padding: 0;
  color: #2F395F;;
  font-size: 150%;
  text-align: center;
}


.page-content p h3 {
  margin: 0px;
  padding: 0;
  text-align: left;
}

.page-content ul {
  list-style-type: circle;
  margin: 0px;
  padding-top: 0px;
  padding-left: 30px;
  padding-bottom: 10px;
  text-align: left;
}

.page-content ul li {
  /* color: green; */
  /* margin: 10px; */
  padding: 0;
  padding-top: 10px;
  padding-bottom: 0px;
  /* text-align: left; */
}

.important-page-content {
  padding-top: 10px;
  background-color: #F5E4E6;
  /* background-color: #f7e1d7; */
  font-size: 100%;
  font-weight: bold;
  padding-bottom: 10px;
}

.color1-page-content {
  background-color: #F7FEFF;
  /* background-color: #fffcf6; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.color1-page-content ul li {
  padding-bottom: 20px;
  
}

.color2-page-content {
  background-color: #E4EFF1 ;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* Two column flex box */
/* The first column takes up 65% (or whatever is indicated below) */
/* and the second column takes up the remaining space */

.two-column {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  font-size: 100%;
  align-items: flext-start;
  justify-content: space-evenly;
}

.two-column > .column1 {
  flex: 0 0 65%;
}

.two-column > .column2 {
  flex: 0 0 35%;
  display: flex;
  padding-right: 10px;
  justify-content: center; /* Centers the image horizontally */
  align-items: center;    /* Centers the image vertically */
}

.two-column img {
  max-width: 100%;
  height: auto;
  border-radius: 4%;
}

.li-format-hero {
  text-align: left;
  padding-bottom: 10px;
  font-size:200%;
}

.li-format {
  text-align: left;
  padding-bottom: 10px;
  font-size: 150%;
}

.two-column h2 {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 0px;
}

.two-column h3 {
  text-align: left;
}

.two-column ul {
  /*       t r b  l  */
  padding: 0 0 0 40px;
  margin: 0;
  text-align: left;
}

.two-column ul li {
  list-style-type: square;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 10px;
  margin: 0;
}

.etsy-link {
  padding-top: 10px;
  padding-left: 20px;
}

.logo1 img {
  width: 10%;
  padding-top: 10px;
  height: auto;
  justify-content: center;
  border-radius: 10%;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.bold-it {
  font-weight: bold;
}


.list-container {
  text-align: center;
}

.policy-ul {
  display: inline-block;  
  text-align: left;
  /* padding-left: 10px; */
  padding-bottom: 100px;
}

.policy-ul li {
  /* padding: 0; */

  /* list-style-type: "\27BE"; */
  list-style-type:square;
  padding-bottom: 50px;
  /* padding-left: 50em; */
} 

/* "About" page css */

.about-text {
  font-size: 150%;
  padding-bottom: 12px;
  text-align: left;
}

.about-text-TLDR {
  font-size: 180%;
  padding-top: 10px;
  padding-bottom: 30px;
  font-style:italic;
  font-weight:bold;
  text-align: left;
}

/* Font for signature form of my name */
@font-face {
  font-family: Amsterdam;
  src: url(./fonts/AmsterdamThree.woff)
}

.about-signature {
  padding-top: 20px;
  font-size: 150%;
  /* font-style: italic; */
  font-family: Amsterdam, cursive;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f0f4f8;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
} 

/* 
.about-section {
  position: relative;
  padding: 50px 5%;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
} */

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* grid-template-rows: auto auto minmax(150px, 1fr) auto; Fixed header, image, flexible essay box, fixed footer */
  /* grid-gap: 20px; */
  height: 100%; /* Fill the screen height */
  padding: 20px;
  max-width: 1200px;
  align-items: center;
  /* margin: 0 auto; */
  /* text-align: center; */
}

.photo-container {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  margin: 20px 0;
}

.photo-container img {
  /* max-width: 100%; */
  width: 40%; /* Image size will resize proportionally */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px gray;
  margin: 0 auto; /* center the image */
}

.essay-box {
  padding: 20px;
  /* position: relative; */
  /* width: 85%; */
  /* max-width: 600px; */
  /* margin: 0 auto; */
  background-color: #ffffff;
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0 4px 10px darkgray;
  /* height: 200px; Fixed height */
  overflow-y: auto; /* Scroll within box if necessary */
  min-height: 150px; /* Ensure a minimum height */
  max-height: 50vh; /* Prevent essay box from overtaking the screen, 50% of the view height */
  flex-grow: 1; /* Allow essay-box to take remaining space but leave room for footer */
  /* resize: both; */
}
/* 
.essay-box h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #5a7d7c;
} */

.essay-box p {
  line-height: 1.3;
  color: #555;
}

/*  ------------------------------------- ß */

 /* common */

footer {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 10px;
  background-color: #ACC9E0;
  /* background-color: #b3cb9f; */
  /* color: #3c3c07; */
  color: #2F395F;
  text-align: center;
}


footer h3 {
  font-size: 150%;
}


footer nav ul {
  padding-top: 10px;
  background-color: #ACC9E0;
  color: #2F395F;
  /* background-color: #b3cb9f; */
  justify-content: center;
}

footer nav ul li {
  font-size: smaller;
  margin: 0;
  margin-right: 20px;
}

footer nav ul li a {
  color: #2F395F;
}

footer nav ul li a:hover {
  color: darkgoldenrod;
}


/* ---------------------------------------- */

/* Responsiveness stuff */

/* Responsive design for smaller screens */
@media (max-width: 700px) {

  h1 {
    /* Use color for debugging purposes only */
    /* color: red; */
    font-size: 280%;
  }

  h2 {
    font-size: 190%;
  }

  h3 {
    font-size: 120%;
    font-weight: bold;
  }

  h4 {
    font-size: 100%;
  }

  .two-column {
    font-size: 65%;
  } 


  body {
    font-size: 85%;
  }

  .hero ul li {
    padding-bottom: 5px;
    font-size: 100%;
  }
  

  .hero h1 {
    font-size: 250%;
  }
  .hero h2 {
    font-size: 190%;
    text-align: left;
  }

  .li-format {
    font-size: 150%;
  }

  .li-format-hero {
    font-size: 150%;
  }

  /* -- about page styles -- */

  .about-section {
    padding: 10px;
  }

  .essay-box {
    max-height: 35vh; /* Keep essay-box smaller on small screens */
  }

  .photo-container img {
    max-width: 80%; /* Make image smaller on mobile */
  }
}


