/* General Styles */
body {
  font-family: 'Barlow', sans-serif;
  /* color: #fafad2; */
  color: #ffefd2;
  margin: 0;
  padding: 0;
}

header {
  /* background-color: #333; */
  /* background-color: #4a5759; */
  /* background-color: #6B705C; */
  /* background-color: #3c3c2f;; */
  background-color: #3c3c07;

  padding: 10px 0;
}

h1 {
  color: #fafad2;
  background-color: #a5a58d;
  /* background-color: #b0c4b1; */
  /* background-color: #4a4a4a; */
}

h2 {
  color: 3c3c07;
  /* color: #fafad2; */
  /* font-weight: 600; */
  font-size: 200%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
  padding-bottom: 10px;
}

nav ul li a {
  /* color: #fafad2; */
  color: #fff6de;
  text-decoration: none;
}

nav ul li a:hover {
  color: goldenrod;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #3c3c07;
  background-color: #fff6de;
  justify-content: space-around;
}

.hero ul li {
  text-align: left;
  padding-bottom: 30px;
  font-size: 300%;
}

.hero h2 {
  font-size: 500%;
  text-align: left;
}

.hero img {
  max-width: 80%;
  height: auto;
  margin-top: 20px;
  border-radius: 5%;
}

.title-area {
  font-family: 'Licorice', cursive;
  text-align: center;
  margin-top: 0;
  background-color: #fff6de;
}

.title-area h1 {
  font-size: 800%;
  margin: 0;
  padding: 0;
  color: #3c3c07;
  background-color: #fff6de;
}

.get-started {
  background-color: #fff6de;
  text-align: center;
  padding-top: 0;
  padding-bottom: 20px;
}

.get-started button {
  background-color: #007BFF;
  color: #fff;
  font-size: larger;
  /* font-weight: bold; */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.get-started button:hover {
  background-color: #0056b3;
  color: #ffff;
}

.page-content {
  display: flex;
  color: black;
}


.logo1 img {
  width: 20%;
  padding-top: 10px;
  height: auto;
  justify-content: center;
  border-radius: 100%;
}


footer {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff6de;
  background-color: #3c3c07;
  text-align: center;
  /* width: 100%;
  bottom: 0; */
  /* position: sticky; */
}

/* Space the social icons appropriately */
footer nav ul li {
  margin-right: 20px;
};

/* ---------------------------------------- */

/* Responsiveness stuff */

/* very small screens (iPhones protrait) */
@media (max-width: 430px) {

  .title-area h1 {
    font-size: 340%;
    /* color: fuchsia; */
  }

  .hero ul li {
    padding-bottom: 5px;
    font-size: 100%;
  }
  
  .hero h2 {
    font-size: 150%;
    text-align: left;
  }
  
  .hero img {
    max-width: 50%;
    margin-top: 20px;
    border-radius: 5%;
  }

  nav ul li {
    margin: 0 3px;
    padding-bottom: 3px;
    font-size: smaller;
  }

  .logo1 img {
    width: 20%;
  }
  
}

/* small screens */
@media (min-width: 431px) and (max-width: 900px) {
  
  .title-area h1 {
    font-size: 400%;
    /* color: red; */
  }

  .hero ul li {
    padding-bottom: 10px;
    font-size: 150%;
  }
  
  .hero h2 {
    font-size: 150%;
    text-align: left;
  }
  
  .hero img {
    max-width: 50%;
    margin-top: 20px;
    border-radius: 5%;
  }

  nav ul li {
    margin: 0 5px;
    padding-bottom: 5px;
  }

  .logo1 img {
    width: 20%;
  }
  
}
  

/* medium screens */
@media (min-width: 901px) and (max-width: 1500px) {

  .title-area h1 {
    font-size: 500%;
    /* color: purple; */
  }


.hero ul li {
  padding-bottom: 15px;
  font-size: 150%;
}

.hero h2 {
  font-size: 250%;
  text-align: left;
}

  .hero img {
    max-width: 50%;
    margin-top: 20px;
    border-radius: 5%;
  }

  .logo1 img {
    width: 20%;
  }
  

}
